<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://c.webfontfree.com/c.js?f=SuisseIntl-Regular" type="text/javascript"></script>
  <link rel="stylesheet" href="/assets/css/default.css">
  <link rel="icon" type="image/png" href="/assets/images/mandelbrot.webp">
<title>Journal</title>
</head>
<body>
    <div class="page-wrapper">
      <header class="Navbar">
        <div id = "Navbar-left">
          <a class='links' href="/"><div class="hover-text" id = "Navbar-home">dhananjaya</div></a>
        </div>
        <div id = "Navbar-right" >
          <a class='links' href="/blogs"><div class="hover-text" id = "Navbar-blogs">blogs</div></a>
          <a class='links' href="/journal"><div class="hover-text" id="Navbar-diary">journal</div></a>
          <a class='links' href="/me"><div class="hover-text" id="Navbar-diary">me</div></a>
        </div>
      </header>

      <div class="list-wrapper">

      
        {% if page.path == "journal.md" %}
        <div class="list-header">
          <div class="list-heading">Journal</div>
          <div class="list-description">Perpective on things around me</div>
        </div>

        <div class="journal-entries">
          {% assign journals = site.journals | sort : 'date' | reverse %}
            {% for journal in journals %}
              <div class="journal-entry">
                {%if journal.cover %}
                <a href="{{ journal.url | relative_url }}" class="cover-link">
                  <div class="cover-image-container">
                    <img src="{{ journal.cover | relative_url }}" alt="{{ journal.title }}" class="cover-image">
                  </div>
                </a>
                {%endif%}
                <h2><a href="{{ journal.url }}">{{ journal.title }}</a></h2>
                <div class="first-line">
                <p class="date">{{ journal.date | date: "%-d %b, %Y" }}</p> 
                <div class="journal-categories">
                  {% for category in journal.categories %}
                    <span class="category">{{ category }}</span>
                  {% endfor %}
                </div>
                </div>
                <p>{{ journal.excerpt }}</p>
              </div>
            {% endfor %}
          </div>
      </div>
        {% else %}
        <div class="list-header">
          <div class="list-heading">Blogs</div>
          <div class="list-description">Writing down what I learn</div>
        </div>

         <div class="journal-entries">
          {% assign blogs = site.blogs | sort : 'date' | reverse %}
            {% for blog in site.blogs %}
              <div class="journal-entry">
                 {%if blog.cover %}
                <a href="{{ blog.url | relative_url }}" class="cover-link">
                  <div class="cover-image-container">
                    <img src="{{ journal.cover | relative_url }}" alt="{{ blog.title }}" class="cover-image">
                  </div>
                </a>
                {%endif%}
                <h2><a href="{{ blog.url }}">{{ blog.title }}</a></h2>
                <div class="first-line">
                <p class="date">{{ blog.date | date: "%-d %b, %Y" }}</p> 
                <div class="journal-categories">
                  {% for category in blog.categories %}
                    <span class="category">{{ category }}</span>
                  {% endfor %}
                </div>
                </div>
                <p>{{ blog.excerpt }}</p>
              </div>
            {% endfor %}
          </div>
      </div>
        {% endif %}
    
        
</div>
        <script src="/assets/js/hover_script.js"></script>
        
</body>
</html>

