<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://c.webfontfree.com/c.js?f=SuisseIntl-Regular" type="text/javascript"></script>

  <link rel="stylesheet" href="/assets/css/post.css" />
</head>
<body>
    <div class="page-wrapper">
      <header class="Navbar">
        <div id = "Navbar-left">
          <a class='links' href="/"><div class="hover-text" id = "Navbar-home">dhananjaya</div></a>
        </div>
        <div id = "Navbar-right" >
          <a class='links' href="/gallery"><div class="hover-text" id = "Navbar-photos">gallery</div></a>
          <a class='links' href="/404"><div class="hover-text" id = "Navbar-blogs">blogs</div></a>
          <a class='links' href="/journal"><div class="hover-text" id="Navbar-diary">journal</div></a>
        </div>
      </header> 

      <button class="back-button" onclick="window.history.back();" aria-label="Go back">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
          <circle cx="11" cy="11" r="11" fill="white"/>
          <polyline points="13,7 9,11 13,15" fill="none" stroke="#D11A2A" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      
      
      <div class="content-wrapper">
        <div class="content-header">
          <div class="content-title">{{ page.title }}</div>
          <div class="content-categories">
            {% for category in page.categories %}
              <span class="category">{{ category }}</span>
            {% endfor %}
          </div>
          <div class="content-excerpt">{{ page.excerpt }}</div>
        </div>
      
        <div class="content-body">
          {{ content }}
        </div>
      </div>
      
      
        <footer>
  <div class="footer-left">
    <div class="footer-left1"> <p id="footer-black"> Let's build something </p> <p id="footer-red">TOGETHER</p></div> 
    
    <div class="footer-left-red2"> I hope you find something that you love</div>
</div>
<div class="footer-right">
  <div class="footer-right-1"> <div><p id="footer-black">I am easily impressionable</p> </div> <div id="footer-right-1-1">  <p id="footer-black">Please </p> <p id="footer-red"> impress </p> <p id="footer-black"> me </p> </div></div>
  <div class="footer-links">
    <a class = "hover-text link" href="mailto:dhananjayaswain99@gmail.com">mail</a>
    <a class="hover-text link" href="http://instagram.com/dhananjaya07/">insta</a>
    <a class="hover-text link" href="https://www.linkedin.com/in/dhananjaya-swain-892071225/">in</a>
  </div>

  </footer>
</div>
        <script src="/assets/js/hover_script.js"></script>
      
</body>
</html>

